/*
|--------------------------------------------------------------------------
| MODEL_CLASS
|--------------------------------------------------------------------------
*/
Route::resource('RESOURCE_NAME', 'MODEL_CLASS\MODEL_CLASSController', RESOURCE_ACTIONS);